.comment-item {
    background-color: var(--background-primary);
    color: var(--text-normal);
    min-height: 80px;
    border-radius: 5%;
    padding: 8px;
    margin-bottom: 32px;
}

.empty-comment-item {
    color: var(--text-muted);
    font-size: small;
    text-align: center;
    margin-top: 32px;
}

.empty-comment-item-bottom {
    color: var(--text-muted);
    font-size: small;
    text-align: center;
}